!!! 5
html(lang='en')
  head
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/demos.css', type='text/css', media='screen')
      link(rel='stylesheet', href='/stylesheets/style1.css')
      script(type='text/javascript', src='/RGraph.common.core.js')
      script(type='text/javascript', src='/RGraph.bar.js')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.js')
      script(src='/socket.io/socket.io.js')
      script(src="/smoothie.js")
      script(src='/client.js')
      script(src='/mananMy.js')


body

section#wrapper!= body
        canvas#mycanvas
        canvas#cvs(width='600', height='250')
        script(type='text/javascript')
          var socket = io.connect();
          socket.on('count', function (data) {
                
                $('label').text(data.ct);$('tr').remove();
                var ln=data.number.length;for(i=0;i<ln;i++){var nr=$('<tr>');                                              $('<td>').text(data.number[i].ip).appendTo(nr);                                               $('<td>').text(data.number[i].country).appendTo(nr);                                              $('<td>').text(data.number[i].city).appendTo(nr);                                                 $('<td>').text(data.number[i].region).appendTo(nr);                                            $('<td>').text(data.number[i].time).appendTo(nr);                                              $('<td>').text(data.number[i].browser).appendTo(nr);$('<td>').text(data.number[i].os).appendTo(nr);$('<td>').text(data.number[i].res).appendTo(nr);$('<td>').text(data.number[i].urlpath).appendTo(nr);$('<td>').text(data.number[i].counter).appendTo(nr);           nr.appendTo('#tbody');       }                                                                                                                         				
          });